dat/**
bin/*
core*
etc/tables/*

# Autoconf files
autom4te.cache/**
aclocal.m4
AUTHORS
ChangeLog
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
Makefile
Makefile.in
missing
NEWS
src/.deps/**
src/.dirstamp
src/Makefile
src/Makefile.in
inc/config.h*
inc/Makefile
inc/Makefile.in
inc/stamp-h1
printcolor/.deps/**
printcolor/Makefile
printcolor/Makefile.in
